ipython
ipykernel
python-dotenv
pypdf
pymupdf
langchain
langchain_community
langchain_core
langchain_groq
langchain_openai
langchain_text_splitters
langchain_huggingface
langchain_chroma
sentence_transformers
faiss-cpu
chromadb
duckdb
pandas
openai
bs4
arxiv==1.4.8
wikipedia
duckduckgo-search
streamlit
ddgs